.image-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.category-section {
    max-height: 60vh;
    overflow-y: auto;
}

::ng-deep {
    mat-checkbox {
        height: 30px;
    }
}