<div class="row">
    <!-- Product Image -->
    <div class="col-md-6">
        <img src="https://img.freepik.com/free-photo/raksha-bandhan-rakhi-with-red-ribbon-black-background_1057-35740.jpg"
            class="img-fluid" alt="Product Image">
    </div>
    <!-- Product Details -->
    <div class="col-md-6">
        <h2 class="mb-3">Product Name</h2>
        <p class="lead mb-4">Product Description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <h4>Price: $XX.XX</h4>
        <div class="mb-4">
            <!-- Add to Cart Button -->
            <button class="btn btn-primary me-3">Add to Cart</button>
            <!-- Wishlist Button -->
            <button class="btn btn-outline-secondary">Add to Wishlist</button>
        </div>
        <h4>Product Details</h4>
        <ul>
            <li>Detail 1</li>
            <li>Detail 2</li>
            <li>Detail 3</li>
            <li>Detail 1</li>
            <li>Detail 2</li>
            <li>Detail 3</li>
            <li>Detail 1</li>
            <li>Detail 2</li>
            <li>Detail 3</li>
            <li>Detail 1</li>
            <li>Detail 2</li>
            <li>Detail 3</li>
            <!-- Add more details as needed -->
        </ul>
    </div>
</div>