header {
    background: radial-gradient(circle, rgba(238, 174, 220, 1) 0%, rgba(191, 148, 233, 1) 100%);
    color: #752b7d;
}

footer {
    background: radial-gradient(circle, rgba(238, 174, 220, 1) 0%, rgba(191, 148, 233, 1) 100%);
    border-top: 1px solid #b177eb;
}